<!-- Footer del sitio web -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-s-3 icon-footer">
                <a href="https://www.tiktok.com/@Dulce.Mordida" target="_blank" rel="noopener noreferrer">
                    <img alt="Ícono de TikTok" src="img/iconos/tiktok-brands-solid.png" height="50"/>
                    <p><strong>@Dulce.Mordida</strong><br>Síguenos en TikTok</p>
                </a>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <a href="https://www.instagram.com/DulceMordida" target="_blank" rel="noopener noreferrer">
                    <img alt="Ícono de Instagram" src="img/iconos/instagram-brands-solid.png" height="50"/>
                    <p><strong>@DulceMordida</strong><br>Síguenos en Instagram</p>
                </a>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <a href="https://wa.me/51954301376" target="_blank" rel="noopener noreferrer">
                    <img alt="Ícono de WhatsApp" src="img/iconos/whatsapp-brands-solid.png" height="50"/>
                    <p><strong>WhatsApp</strong><br>Contáctanos por WhatsApp</p>
                </a>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <a href="https://rappi.app.link/Dulce_Mordida" target="_blank" rel="noopener noreferrer">
                    <img alt="Ícono de Rappi" src="img/iconos/rappi-brands-solid.png" height="50"/>
                    <p><strong>Rappi</strong><br>Entrega rápida y segura</p>
                </a>
            </div>
        </div>
    </div>

    <p>Dulce Mordida &reg;</p>
</footer> 